<div class="about_container px-md-4 px-2">
  <div class="about_container_padd">
    <div class="about_content d-flex flex-column flex-md-row px-md-4">
        <div class="image_container col-12 col-md-5">
            <div class="img_padd">
                <img src="https://static.wixstatic.com/media/af571f_14bef82643c340c3999a7ca6c7b5f682~mv2.jpg/v1/fill/w_470,h_592,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/af571f_14bef82643c340c3999a7ca6c7b5f682~mv2.jpg">
            </div>
        </div>
        <div class="about_descripiton col-12 col-md-7 px-md-4 mx-md-4">
            <div class="about_descripiton_padd px-md-4 mx-md-4">
                <div class="about_content">
                    <h1 class="my-4">Veg catering in coimbatore</h1>
                    <div class="sub_about_content">
                        <p>Lorem ipsum dolor sitveritatis facilis deserunt molestiae. Ratione neque fugit unde quos iusto animi veniam facilis excepturi adipisci. Earum, quaerat?</p>
                        <p>Lorem ipsum placeat, voluptatem esse. Reiciendis aliquid, debitis animi sapiente veniam? Id rerum quod odio.</p>
                        <p>Suscipit aperiam fugiat mollitia in.excepturi. Non quos delectus asperiores nisi tempore dignissimos.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>