.carousel-item{
	/* padding: 10px 5px; */
	height: 400px;
	background-color: black;
	cursor: pointer;
}
.carousel-item-divider{
	width: 100%;
	height: 100%;
	/* display: flex; */
	background-color: rgb(31, 31, 31);
	color: white;

}
.carousel-item-divider img{
	width: 55%;
    height: 100%;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 36%;
    /* left: 22%; */
    /* right: -10%; */
    border-radius: 100% 0 0 0%;
    opacity: 0.9;
}
@media screen and (max-width: 768px) {
    .carousel-item-divider img{
        width: 80%;
        left: 10%;
    }    
}

.subCaption{
	width: 100%;
    position: relative;
    z-index: 10;
    display: flex;
    /* justify-content: center; */
    /* margin-inline: auto; */
    align-items: center;
    /* top: 10%; */
    left: 11%; 
}
@media screen and (max-width: 768px) {
    .subCaption{
        /* width: 80%; */
        left: 0%;
    }    
}
.subCaption-container{
    /* width: 45%; */
    height: auto;
    color: white;
    text-shadow: 0.5px 0.5px;
    font-size: 16px;
    /* background: #000000ab; */
    /* background-color: #00000021; */
    padding: 31px;
    /* border-radius: 100% 0px 0px 0px; */
}
.subCaption-container h5{
	font-weight: bold;
	font-size: 2rem;
} 
.subCaption-container p:first-of-type{
	color: rgb(126, 124, 124);
	font-weight:500;
	padding: 5px 0;
}
.subCaption-container p:last-of-type{
 text-align: justify;
 
}
.carousel-control-next, .carousel-control-prev{
    z-index: 999;
}